
.foo {
    background: pink;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 5px;
    text-align: center;

}

.bar {
    background: grey;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 5px;
    text-align: center;

}
