.row {
    clear: left;
}

.light {
    background: grey;
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    line-height: 100px;
    font-family: Helvetica;
    cursor: pointer;
}
